<ion-header>
  <ion-toolbar color="primary">
    <ion-title> Bản đồ giao thông </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="title">Bản đồ giao thông thời gian thực</div>

  <div class="map-container">
    <div class="fake-map">MAP</div>
  </div>

  <ion-card>
    <ion-card-header>
      <ion-card-title> Sự cố gần đây </ion-card-title>
    </ion-card-header>

    <ion-list>
      <ion-item>
        <ion-label> Tai nạn tại Nguyễn Văn Linh </ion-label>
      </ion-item>

      <ion-item>
        <ion-label> Kẹt xe tại Nguyễn Hữu Thọ </ion-label>
      </ion-item>

      <ion-item>
        <ion-label> Ngập nước tại Lê Văn Việt </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
